* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 0%, 100%, 0.1);
    width: 100%;
}